body {
    background-color: #333;
    color: white;
    font-family: 'Amatic SC', cursive;
}

.button-container {
    height: 100px;
}

#home {
    color: #fff;
    text-decoration: none;
    padding: 1rem 2rem;
    border: #fff 1px solid;
    border-radius: 3%;
    display: none;
}

#home:hover {
    color:black;
    background-color: white;
}

#solar-system-button {
    color: #fff;
    text-decoration: none;
    padding: 1rem 2rem;
    border: #fff 1px solid;
    border-radius: 3%;
    display: none;
}

#solar-system-button:hover  {
    color:black;
    background-color: white;
}

.planet-name {
    text-align: center;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}
/* Planet image that shrinks */
.planet-img {
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin-left: 5%;
    width: 500px;
    height: 500px;
}
/* for the astronaut with each planet that fades away */
.astronaut-image-planet {
    height: 250px;
    width: 250px;
}

.planet-content {
    width: 55%;
    float: right;
    margin-right: 20%;
    display: none;
}

.youtube-container {
    text-align: center;
    display: none;

}

.youtube-vid {
    width: 800px;
    height: 500px
}
